In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('Aid Data Countries - Aggregated - Fixed.csv')
df_latList = pd.read_csv('country-capitals.csv')

In [3]:
df_latList['country']=df_latList['CountryName']
df_latList['Latitude']=df_latList['CapitalLatitude']
df_latList['Longitude']=df_latList['CapitalLongitude']
df_latList.drop('CountryName',axis=1,inplace=True)
df_latList.drop('CapitalLatitude',axis=1,inplace=True)
df_latList.drop('CapitalLongitude',axis=1,inplace=True)

In [4]:
df.head(2)

     country       donated      received
0  Australia  2.446616e+09  2.572618e+09
1    Austria  7.840690e+08  7.702674e+08

In [5]:
df_latList.head(2)

,CapitalName,CountryCode,ContinentName,country,Latitude,Longitude
0,Hargeisa,NaN,Africa,Somaliland,9.550000,44.05
1,King Edward Point,GS,Antarctica,South Georgia and South Sandwich Islands,-54.283333,-36.50

In [6]:
new_df = pd.merge(df, df_latList,  how='left', on=['country'])

In [7]:
df_clean=new_df[['country','donated','received','Latitude','Longitude']]
df_clean.head(2)

     country       donated      received   Latitude   Longitude
0  Australia  2.446616e+09  2.572618e+09 -35.266667  149.133333
1    Austria  7.840690e+08  7.702674e+08  48.200000   16.366667

In [8]:
df_clean['donatedBillions']=df_clean['donated']/1000000000
df_clean['receivedBillions']=df_clean['received']/1000000000

/Applications/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Applications/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
df_clean.head()

,country,donated,received,Latitude,Longitude,donatedBillions,receivedBillions
0,Australia,2.446616e+09,2.572618e+09,-35.266667,149.133333,2.446616,2.572618
1,Austria,7.840690e+08,7.702674e+08,48.200000,16.366667,0.784069,0.770267
2,Belgium,2.144445e+09,1.843462e+08,50.833333,4.333333,2.144445,0.184346
3,Brazil,1.134440e+06,3.660726e+10,-15.783333,-47.916667,0.001134,36.607258
4,Canada,7.466338e+09,4.068653e+09,45.416667,-75.700000,7.466338,4.068653

In [10]:
df_clean.to_csv('cleaned_dataset_fixed.csv')